@using FollowUp.Models
@model FollowUp.Models.Issue

@{
    ViewBag.Title = "CancelManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@FollowUp.Resources.Resource.CancelManagerTitle</h2>


@using (Html.BeginForm("Cancel","Issues"))
{   
    
  
    <div class="form-group">
        @Html.HiddenFor(model =>model.Id);    
        @Html.TextAreaFor(m => m.CancelMessage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CancelMessage)
    </div>

<button type="submit" class="btn btn-primary">Cancel</button>

    
    <input type="button" class="btn btn-primary" value="@FollowUp.Resources.Resource.Back"
           onclick="location.href = '@Url.Action("IndexVerantwoordelijkPersonenManager", "Issues")'" />
} 



   

