
@using FollowUp.Models
@model IEnumerable<FollowUp.ViewModels.IssueVerantwoordelijkPersoonManager>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Issues</h2>

<table id="issueTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Gerbuiker.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Issue.Subject)</th>
            <th>@Html.DisplayNameFor(model => model.Issue.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Issue.IssuePriority)</th>
            <th>@Html.DisplayNameFor(model => model.Issue.StartDateTime)</th>
            <th>@Html.DisplayNameFor(model => model.Issue.IssueState)</th>
            <th>@Html.DisplayNameFor(model => model.Issue.CancelMessage)</th>
            <th>Cancel</th>
        </tr>
    </thead>

    @foreach (var issue in  Model)
    {
        <tr>
            <td>@issue.Gerbuiker.Email</td>
            <td>@issue.Issue.Subject</td>
            <td>@issue.Issue.Description</td>
            <td>@issue.Issue.IssuePriority</td>
            <td>@issue.Issue.StartDateTime</td>
            <td>@issue.Issue.IssueState</td>
            <td>@issue.Issue.CancelMessage</td>
            <td>@Html.ActionLink("cancel", "CancelManager", "Issues", new {id=issue.Issue.Id },null)

        </tr>
    }

</table>

<input type="button" class="btn btn-primary" value="Ticket Toevoegen" onclick="location.href='@Url.Action("New", "Issues")'" />

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#issueTable").DataTable();

            $("#issueTable").on("click",
                ".js-cancel",
                function () {
                    var button = $(this);
                    bootbox.confirm("Ben je zeker dat de geselecteerde Issue verwijderd mag worden?",
                        function (result) {
                            if (result) {
                                $.ajax(
                                    {
                                        type: "PUT",
                                        url: "/api/issuess/" + button.attr("data-issue-id"),

                                        succes: function () {
                                            table.row(button.parents("tr")).remove();

                                            console.log("succes");
                                            // uit lijst gooien
                                        }
                                    });
                            }
                        });
                });
        });
</script>
}
