@model FollowUp.ViewModels.NavBarViewModel
<div class="navbar-collapse collapse navbar-dark ">
    
    @Html.ActionLink("Ticketing System", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        @if (Model.User || (Model.User!=true&& Model.Administrator!=true&&Model.Dispatcher!=true&&Model.Manager!=true&&Model.Solver!=true))
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@FollowUp.Resources.Resource.IssuesTitleMijn, "IndexMyIssues", "Issues")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        }
        @if (Model.Manager)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@FollowUp.Resources.Resource.IssuesTitleMijn, "IndexMyIssues", "Issues")</li>
                    <li>@Html.ActionLink(@FollowUp.Resources.Resource.IssuesTitleAll, "IndexVerantwoordelijkPersonenManager", "Issues")</li>
                
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        }
        
        @if (Model.Dispatcher)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@FollowUp.Resources.Resource.IssuesTitleMijn, "IndexMyIssues", "Issues")</li>
                    <li>@Html.ActionLink(@FollowUp.Resources.Resource.IssuesTitleAssign, "IndexDispatcher", "Issues")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        }
        
        @if (Model.Solver)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@FollowUp.Resources.Resource.IssuesTitleMijn, "IndexMyIssues", "Issues")</li>
                    <li>@Html.ActionLink(@FollowUp.Resources.Resource.IssuesTitleSolve, "Solve", "Issues")</li>
                
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        }
        
        @if (Model.Administrator)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Issues", "IndexAllIssuesAdministrator", "Issues")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        }
</div>
